header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ffffff;
	height: 8rem;
	z-index: 1;

	img{
	height: 7rem;
	padding: 1rem;
	}

	.fas{
		font-size: 3rem;
		position: fixed;
		top: 2rem;
		right: 2rem;
		color: #44596A;
	}
}