.page {
	background-color: #EDF0F2;
	padding: 10rem 0;
}

#ID_Card img{
	height: 20rem;
}

#Break{
	background-color: #87CA5D;
}

#Person1 img{
	height: 50%;
}

.date_heading img{
	transform: rotate(90deg);
	width: 100%;
}
